@font-face {
  font-family: "HeadlinerNo45";
  src: url("/HeadlinerNo.45 DEMO.ttf") format("truetype");

}

*
{
    font-family: "HeadlinerNo45", sans-serif;
    font-weight:normal;
    
}
body {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.custom-swiper {
  position: relative;
}

.swiper-slide {
  position: relative;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.swiper-slide:hover {
  transform: translateY(-10px);
  z-index: 10;
}

/* Black overlay for non-hovered slides, excluding active */
.swiper-slide:not(:hover):not(.active) .tab-item {
  filter: brightness(0.5);
}

/* Ensure the active slide doesn't have the overlay */
.swiper-slide.active .tab-item {
  filter: none;
}

.tab-item {
  position: relative;
  transition: filter 0.3s ease;
}

.tab-item:focus {
  outline: none; /* Removes the default browser focus outline */
  box-shadow: none; /* Removes any default focus shadow */
}
